@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
}

h1 {
    font-family: 'Manrope';
}

.container {
    max-width: 1210px;
    padding: 0 50px;
}

.navbar {
    font-family: 'Manrope';
}

.nav-link, .navbar-brand {
    color: #18191F !important;
}

.navbar-brand {
    font-weight: 800;
    font-size: 24px;
}

.nav-link {
    font-weight: 700;
    font-size: 18px;
    padding: 0 16px !important;
}

.navbar-container {
    padding-top: 1vw;
}

.free-trial-button {
    /* Used to be #FF0000 */
    background-color: #FF451D !important;
}

.button {
    color: white !important;
    border-radius: 8px;
    background-color: #090B3D;
    padding: 12px 20px !important;
    text-decoration: none;

}

.hero-section {
    font-family: 'Manrope';
}

#heading {
    font-weight: 700;
    font-size: 47px;
    line-height: 59px;
    color: #080A3E;
}

.gap-between-hero-and-navbar {
    margin-top: 60px;
}

#hero-description {
    font-weight: 500;
    font-size: 23px;
    color: #353535 !important;
    line-height: 34.5px;
}

#free-trial-button {
    padding: 15px 32px !important;
    font-size: 18px;
    font-weight: 700;
}

#free-trial-message {
    font-family: 'Poppins';
    font-size: 20px;
    color: #222222;
    font-weight: 600;
}

#hero-image {
    filter: drop-shadow(0px 4px 46px rgba(77, 29, 169, 0.22));
}

.medium-weight-headline {
    font-weight: 500;
}

.bold-weight-headline {
    font-weight: 700;
}

.headline-blue-color {
    color: #080A3E;
}

p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 21px;
}

.purple {
    color: #3A005E;
}

@media only screen and (max-device-width: 765px) {
    #hero-line-break {
        display: none;
    } 
}
